.chart {
  background-color: white;
  // grid-column-start: 2;
  // grid-column-end: 3;
  // grid-row-start: 1;
  // grid-row-end: 2;
}

// @media (min-width: 45rem) {
//   * {
//     color:blue;
//   }
// }

.chart__title {
  color: $off-black;
  font-size: $l-size;
  margin: 0;
  padding: 1rem;
}

.chart__subtitle {
  color: $off-black;
  font-size: $m-size;
  font-weight: 1000;
  padding: 1rem;
}