.header {
  background: $off-black;
  color: white;
  margin-bottom: $l-size;
  padding: $m-size 0;

 }

 .header__title {
   font-size: $s-size;
   margin: 0;
 }

 .header__subtitle {
   font-size: $m-size;
   font-weight: 500;
 }